@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/Arial.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

*, *::before, *::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.page {
  max-width: 1280px;
  margin: auto;
}
.page_unactive{
  overflow: hidden;
}
.overlay{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(123, 123, 123, 0.61);
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay_active{
  display: block;
}
.overlay:hover ~ .petPopup .popupCard .popupCard__btn{
  cursor: pointer;
  background-color: #F1CDB3;
  border: none;
}

.popup{
  display: none;
  width: 900px;
  background-color: #fff;
  border-radius: 9px;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
}
.popup_active{
  display: block;
}
.popupCard{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.popupCard .popupCard__btn{
  top: -52px;
  width: 50px;
  height: 50px;
  right: -41px;
  position: absolute;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.popupCard .popupCard__btn:hover{
  cursor: pointer;
  background-color: #F1CDB3;
  border: none;
}
.popupCard .popupCard__btn img{
  margin-top: 5px;
}
.popupCard .popupCard__img {
  width: 100%;
  height: auto;
  flex: 0 0 54%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.popupCard .popupCard__discr {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 350px;
  margin-right: 20px;
}
.popupCard .popupCard__discr .popupCard__name {
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;
  margin-top: 50px;
  letter-spacing: 2px;
}
.popupCard .popupCard__discr .popupCard__breed {
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 40px;
  letter-spacing: 1.2px;
}
.popupCard .popupCard__discr .popupCard__content {
  font-size: 15px;
  line-height: 113%;
  letter-spacing: .9px;
  margin-bottom: 40px;
}
.popupCard .popupCard__discr .popupCard__personalInfo {
  font-size: 15px;
  line-height: 110%;
  margin-left: 15px;
  letter-spacing: 1.8px;
}
.popupCard .popupCard__discr .popupCard__personalInfo .popupCard__petInfo{
  margin-bottom: 11px;
  position: relative
}
.popupCard .popupCard__discr .popupCard__personalInfo .popupCard__petInfo::before{
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  left: -15px;
  top: 35%;
  background-color: #F1CDB3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.popupCard .popupCard__discr .popupCard__personalInfo .popupCard__petInfo span{
  font-weight: 700;
}

.page .page__main {
  margin-top: 120px;
}

.logo .logo__name {
  font-family: Georgia, sans-serif;
  font-size: 32px;
  line-height: 36.2px;
  letter-spacing: 2px;
  margin-bottom: 9px;
  color: #545454;
  font-weight: 400;
}

.logo .logo__discr {
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 1.33px;
  margin-left: 3.3px;
  color: #292929;
}

.btn {
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  font-family: Georgia, sans-serif;
  letter-spacing: 0.06em;
}

.btn:hover {
  background-color: #FDDCC4;
}

.btn_invers {
  background-color: inherit;
  border: 2px solid #F1CDB3;
  padding: 13px 42px;
}

.btn_invers:hover {
  background-color: #F1CDB3;
}

.heading {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  max-width: 1280px;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 2;
}
.header__logo{
  margin-left: 40px;
}
.header__nav{
  margin-right: 40px;
}

.mobileBtn {
  z-index: 8;
  position: absolute;
  top: 47px;
  right: 53px;
  height: 25px;
  width: 30px;
  display: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.mobileBtn .mobileBtn__elem {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
}

.mobileBtn .mobileBtn__elem::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: -10px;
  left: 0;
}

.mobileBtn .mobileBtn__elem::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.nav {
  display: flex;
  font-family: Arial, sans-serif;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.nav .logo__mobile {
  display: none;
  width: fit-content;
}

.nav .nav__item {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #545454;
  margin: auto 0;
  padding-bottom: 3.4px;
}

.nav .nav__item:hover {
  color: #292929;
}

.nav .nav__item:not(:last-child) {
  margin-right: 36.3px;
}

.nav .nav__item_active {
  color: #292929;
  position: relative;
}

.nav .nav__item_active::after {
  content: '';
  position: absolute;
  bottom: .3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}

.ourFriend {
  padding: 80px 40px 101px;
  background-color: #F6F6F6;
}

.ourFriend .ourFriend__header {
  max-width: 400px;
  text-align: center;
  margin: 0 auto 60px;
}

.ourFriend .ourFriends__controls {
  display: flex;
  justify-content: center;
  margin: 32px 0 0 0;
}

.ourFriend .ourFriends__controls .ourFriends__control {
  font-family: Georgia, sans-serif;
  color: #292929;
  font-size: 20px;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.ourFriend .ourFriends__controls .ourFriends__control:nth-child(3) {
  background-color: #F1CDB3;
  position: relative;
}

.ourFriend .ourFriends__controls .ourFriends__control:nth-child(3) .ourFriends__counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%) translateY(-50%);
  -webkit-transform: translate(-50%) translateY(-50%);
  -moz-transform: translate(-50%) translateY(-50%);
  -ms-transform: translate(-50%) translateY(-50%);
  -o-transform: translate(-50%) translateY(-50%);
}

.ourFriend .ourFriends__controls .ourFriends__control:not(:last-child) {
  margin-right: 22px;
}

.ourFriend .ourFriends__controls .ourFriends__control:hover {
  background-color: #F1CDB3;
  border: none;
}

.ourFriend .ourFriends__controls .ourFriends__control_disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.ourFriend .ourFriends__controls .ourFriends__control_disabled:hover {
  background-color: inherit;
  border: 2px solid #CDCDCD;
  cursor: auto;
}

.friendList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.friendList .friendList__friend {
  margin-bottom: 30px;
}

.friendList .friend {
  text-align: center;
  background-color: #FAFAFA;
}

.friendList .friend:hover {
  cursor: pointer;
  background-color: #fff;
}

.friendList .friend:hover .friend__btn {
  background-color: #F1CDB3;
}

.friendList .friend .friend__img {
  max-width: 270px;
  max-height: 270px;
  width: 100%;
  height: auto;
  margin-bottom: 26px;
}

.friendList .friend .friend__name {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 31px;
}

.friendList .friend .friend__btn {
  margin-bottom: 30px;
}

.footer {
  background-image: url(../../assets/images/backGrounds/footerBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 39px 40px 0px;
  max-height: 350px;
}

.footer .footer__content {
  max-width: 295px;
  margin-top: 17px;
}

.footer .footer__content:nth-child(2) {
  margin-left: -22px;
}

.footer .footer__content:nth-child(2) .footer__heading {
  margin-bottom: 36px;
}

.footer .footer__content:nth-child(2) .footer__lists .footer__listsElem:not(:last-child) {
  margin-bottom: 35px;
}

.footer .footer__content:nth-child(2) .footer__lists .footer__listsElem .footer__listsElemLink .footer__listsElemDiscr {
  line-height: 100%;
}

.footer .footer__content .footer__heading {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer .footer__content .footer__lists .footer__listsElem {
  display: flex;
}

.footer .footer__content .footer__lists .footer__listsElem:not(:last-child) {
  margin-bottom: 40px;
}

.footer .footer__content .footer__lists .footer__listsElem .footer__listsElemLink {
  display: flex;
  align-items: center;
}

.footer .footer__content .footer__lists .footer__listsElem .footer__listsElemLink .footer__listsElemImg {
  margin-right: 20px;
}

.footer .footer__content .footer__lists .footer__listsElem .footer__listsElemLink .footer__listsElemDiscr {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

@media (max-width: 1279px) {
  .popup{
    width: 630px;
  }
  .popupCard .popupCard__discr {
    margin-right: 10px;
    margin-left: 10px;
  }
  .popupCard .popupCard__discr .popupCard__name {
    margin-top: 10px;
  }
  .popupCard .popupCard__discr .popupCard__breed {
    margin-bottom: 19px;
  }
  .popupCard .popupCard__discr .popupCard__content {
    font-size: 13px;
    line-height: 110%;
    margin-bottom: 19px;
  }
  .popupCard .popupCard__discr .popupCard__personalInfo .popupCard__petInfo{
    margin-bottom: 6px;
  }

  .ourFriend {
    padding: 80px 40px 77px;
  }
  .ourFriend .ourFriend__header {
    margin: 0 auto 29px;
  }
  .ourFriend .ourFriends__controls {
    margin: 14px 0 0 0;
  }
  .friendList {
    align-content: center;
    column-gap: 38px;
    max-width: 580px;
    margin: auto;
  }
  .friendList .friendList__friend {
    margin-bottom: 30px;
  }
  .friendList .friend:nth-child(n + 7) {
    display: none;
  }
}

@media (max-width: 970px) {
  .footer {
    flex-wrap: wrap;
    max-height: unset;
    justify-content: space-around;
    padding: 15px 40px 0px;
  }
  .footer .footer__content:nth-child(2) {
    margin-left: unset;
  }
  .footer .footer__bg {
    max-width: 300px;
    height: auto;
    margin-top: 64px;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 30px 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 30px 0px;
  }
  .header__nav{
    margin-right: 0;
  }
  .header .header__logo{
    padding-left: 10px;
  }
  .mobileBtn {
    display: block;
  }
  .mobileBtn_active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .mobileBtn_disabled {
    z-index: 1;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    right: -320px;
    top: 0;
    z-index: 7;
    width: 320px;
    background-color: #fff;
    padding: 30px 10px;
    height: 100vh;
  }
  .nav .logo__mobile {
    display: block;
    margin-bottom: 161px;
  }
  .nav .nav__item {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    align-self: center;
    margin: unset;
  }
  .nav .nav__item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 40px;
  }
  .nav_active {
    right: 0;
    animation-name: inputMobileMenu;
    animation-duration: .4s;
  }
  @keyframes inputMobileMenu {
    from {
      right: -320px;
    }
  
    to{
      right: 0px;
    }
  }
  @keyframes outputMobileMenu {
    from {
      right: 0px;
    }
  
    to{
      right: -320px;
    }
  }

  .popup{
    min-width: 240px;
    width: fit-content;
  }
  .popupCard{
    padding: 10px 0;
  }
  .popupCard .popupCard__btn{
    top: -54px;
    right: -29px;
  }
  .popupCard .popupCard__img {
    display: none;
  }
  .popupCard .popupCard__discr {
    max-width: 245px;
  }
  .popupCard .popupCard__discr .popupCard__name {
    text-align: center;
  }
  .popupCard .popupCard__discr .popupCard__breed {
    text-align: center;
  }
  .popupCard .popupCard__discr .popupCard__content {
    text-align: justify;
    max-width: 220px;
    margin: 0 auto 19px;
  }

  .ourFriend {
    padding: 41px 15px 44px;
  }
  .ourFriend .ourFriend__header {
    font-size: 25px;
    margin: 0 auto 42px;
  }
  .ourFriend .ourFriends__controls {
    margin: 15px 0 0 0;
  }
  .ourFriend .ourFriends__controls .ourFriends__control:not(:last-child) {
    margin-right: 10px;
  }
  .friendList {
    justify-content: center;
    flex-direction: column;
    max-width: unset;
  }
  .friendList .friend {
    max-width: 270px;
    margin: 0 auto 30px;
  }
  .friendList .friend:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 490px) {
  .footer {
    padding: 13px 10px 0px;
  }
  .footer .footer__content {
    max-width: 295px;
    margin-top: 17px;
  }
  .footer .footer__content:nth-child(2) {
    margin-top: 39px;
  }
  .footer .footer__content:nth-child(2) .footer__heading {
    margin-bottom: 41px;
    padding: 0 2px;
  }
  .footer .footer__content:nth-child(2) .footer__lists .footer__listsElem {
    justify-content: flex-start;
  }
  .footer .footer__content:nth-child(2) .footer__lists .footer__listsElem:not(:last-child) {
    margin-bottom: 42px;
  }
  .footer .footer__content .footer__heading {
    font-size: 25px;
    text-align: center;
  }
  .footer .footer__content .footer__lists .footer__listsElem {
    justify-content: center;
  }
  .footer .footer__bg {
    max-width: 260px;
    margin-top: 42px;
  }
}

@media (max-height: 595px) {
  .nav .logo__mobile{
    margin-bottom: 55px;
  }
}