@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/Arial.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

*, *::before, *::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.page {
  max-width: 1280px;
  margin: auto;
}
.page_unactive{
  overflow: hidden;
}
.overlay{
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #7b7b7ba8;
  z-index: 6;
  position: fixed;
  top: 0;
}

.logo .logo__name {
  font-family: Georgia, sans-serif;
  font-size: 32px;
  line-height: 36.2px;
  letter-spacing: 2px;
  margin-bottom: 9px;
  color: #F1CDB3;
  font-weight: 400;
}

.logo .logo__discr {
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 1.33px;
  margin-left: 3.3px;
  color: #fff;
}

.btn {
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  font-family: Georgia, sans-serif;
  letter-spacing: 0.06em;
}

.btn:hover {
  background-color: #FDDCC4;
}

.btn_invers {
  background-color: inherit;
  border: 2px solid #F1CDB3;
  padding: 13px 42px;
}

.btn_invers:hover {
  background-color: #F1CDB3;
}

.heading {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.startScreen {
  background-image: url(../../assets/images/backGrounds/topBG.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
}

.mobileBtn {
  z-index: 8;
  position: absolute;
  top: 47px;
  right: 53px;
  height: 25px;
  width: 30px;
  display: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.mobileBtn .mobileBtn__elem {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  display: block;
}

.mobileBtn .mobileBtn__elem::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  position: absolute;
  top: -10px;
  left: 0;
}

.mobileBtn .mobileBtn__elem::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.nav {
  display: flex;
  font-family: Arial, sans-serif;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.nav .logo__mobile {
  display: none;
  width: fit-content;
}

.nav .nav__item {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #CDCDCD;
  margin: auto 0;
  padding-bottom: 3.4px;
}

.nav .nav__item:hover {
  color: #fafafa;
}

.nav .nav__item:not(:last-child) {
  margin-right: 36.3px;
}

.nav .nav__item_active {
  color: #FAFAFA;
  position: relative;
}

.nav .nav__item_active::after {
  content: '';
  position: absolute;
  bottom: .3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}

.mainContent {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.mainContent .mainContent__content {
  margin: 163px 0 0;
}

.mainContent .mainContent__content .mainContent__header {
  color: #fff;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-size: 44px;
  max-width: 310px;
  margin-bottom: 41px;
  line-height: 130%;
}

.mainContent .mainContent__content .mainContent__discr {
  color: #CDCDCD;
  font-family: Arial, sans-serif;
  max-width: 460px;
  margin-bottom: 57px;
  line-height: 160%;
  font-size: 15px;
}

.mainContent .mainContent__img {
  width: 100%;
  max-width: 698px;
  height: auto;
}

.about {
  display: flex;
  justify-content: center;
  padding: 80px 0 100px;
}

.about .about__img {
  margin-right: 120px;
}

.about .about__content {
  margin-top: 14.5px;
}

.about .about__content .about__contentHeading {
  max-width: 370px;
  margin-bottom: 23.5px;
}

.about .about__content .about__contentText {
  max-width: 430px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.about .about__content .about__contentText:not(:last-child) {
  margin-bottom: 25px;
}

.pets {
  background-color: #f6f6f6;
  padding: 80px 40px 100px 40px;
}

.pets .pets__heading {
  max-width: 400px;
  text-align: center;
  margin: 0 auto 59px;
}

.pets .pets__slider {
  margin-bottom: 61px;
}

.pets .pets__btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider .slider__control {
  width: 52px;
  min-width: 52px;
  height: 52px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 2px solid #F3CDB6;
  margin: auto 0;
}

.slider .slider__control:hover {
  background-color: #FDDCC4;
  border: none;
}

.slider .slider__control img {
  height: 6.2px;
}

.slider .slider__gallery {
  max-width: 990px;
  overflow: hidden;
}

.slider .slider__gallery .slider__images {
  display: flex;
  justify-content: space-between;
  transition: all .5s ease-in-out .25s;
  -webkit-transition: all .5s ease-in-out .25s;
  -moz-transition: all .5s ease-in-out .25s;
  -ms-transition: all .5s ease-in-out .25s;
  -o-transition: all .5s ease-in-out .25s;
}

.slider .slider__gallery .slider__images .slider__elem {
  flex: 0 0 27.26%;
}

.slider .slider__gallery .slider__images .slider__elem:not(:last-child) {
  margin-right: 90px;
}

.slider .slider__gallery .slider__images .slider__elem .slider__elemWrapper {
  background-color: #fafafa;
  height: 435px;
  min-width: 270px;
  max-width: 270px;
  margin: 0 auto;
  text-align: center;
  border-radius: 9px;
}

.slider .slider__gallery .slider__images .slider__elem .slider__elemWrapper:hover {
  background-color: #fff;
}

.slider .slider__gallery .slider__images .slider__elem .slider__elemWrapper:hover .slider__elemBtn {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slider .slider__gallery .slider__images .slider__elem .slider__elemWrapper .slider__elemImg {
  max-width: 270px;
  max-height: 270px;
  width: 100%;
  height: auto;
  margin-bottom: 26px;
}

.slider .slider__gallery .slider__images .slider__elem .slider__elemWrapper .slider__elemName {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 31px;
}

.slider .slider__gallery .slider__images .slider__elem .slider__elemWrapper .slider__elemBtn {
  margin-bottom: 30px;
}

.help {
  text-align: center;
  padding: 82px 40px 100px 41px;
}

.help .help__heading {
  margin-bottom: 60px;
}

.help .help__list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 113px;
  grid-row-gap: 54px;
  margin: 0 auto;
  max-width: 1026px;
}

.help .help__list .help__elem {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  white-space: nowrap;
}

.help .help__list .help__elem:nth-child(1) {
  grid-column: 1 / 3;
  justify-self: start;
}

.help .help__list .help__elem:nth-child(2) {
  grid-column: 3 / 5;
  justify-self: start;
  margin-left: -4px;
}

.help .help__list .help__elem:nth-child(3) {
  grid-column: 5 / 7;
  margin-left: -21px;
}

.help .help__list .help__elem:nth-child(4) {
  grid-column: 7 / 9;
  margin-left: 21px;
}

.help .help__list .help__elem:nth-child(5) {
  grid-column: 9 / 11;
  justify-self: end;
}

.help .help__list .help__elem:nth-child(6) {
  grid-column: 2 / 4;
  justify-self: start;
  margin-left: -19px;
}

.help .help__list .help__elem:nth-child(7) {
  grid-column: 4 / 6;
  justify-self: start;
  margin-left: -15px;
}

.help .help__list .help__elem:nth-child(8) {
  grid-column: 6 / 8;
  margin-left: -37px;
}

.help .help__list .help__elem:nth-child(9) {
  grid-column: 8 / 10;
  justify-self: end;
  margin-right: -19px;
}

.help .help__list .help__elem .help__elemContainer .help__elemImg {
  margin-bottom: 24px;
  min-height: 60px;
}

.donation {
  display: flex;
  padding: 81px 40px 100px;
  justify-content: center;
  background-color: #F6F6F6;
}

.donation .donation__pet {
  width: 100%;
  height: auto;
  max-width: 505px;
  max-height: 261px;
  margin: 10px 30px 0 0;
}

.donation .donation__discr {
  max-width: 380px;
}

.donation .donation__discr .donation__heading {
  margin-bottom: 20px;
}

.donation .donation__discr .donation__subheading {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.donation .donation__discr .donation__cardLink {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
}

.donation .donation__discr .donation__cardLink:hover {
  background-color: #FDDCC4;
}

.donation .donation__discr .donation__cardLink .donation__cardNum {
  margin-left: 15px;
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.058em;
  color: #545454;
}

.donation .donation__discr .donation__hint {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  background-image: url(../../assets/images/backGrounds/footerBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 39px 40px 0px;
  max-height: 350px;
}

.footer .footer__content {
  max-width: 295px;
  margin-top: 17px;
}

.footer .footer__content:nth-child(2) {
  margin-left: -22px;
}

.footer .footer__content:nth-child(2) .footer__heading {
  margin-bottom: 36px;
}

.footer .footer__content:nth-child(2) .footer__lists .footer__listsElem:not(:last-child) {
  margin-bottom: 35px;
}

.footer .footer__content:nth-child(2) .footer__lists .footer__listsElem .footer__listsElemLink .footer__listsElemDiscr {
  line-height: 100%;
}

.footer .footer__content .footer__heading {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer .footer__content .footer__lists .footer__listsElem {
  display: flex;
}

.footer .footer__content .footer__lists .footer__listsElem:not(:last-child) {
  margin-bottom: 40px;
}

.footer .footer__content .footer__lists .footer__listsElem .footer__listsElemLink {
  display: flex;
  align-items: center;
}

.footer .footer__content .footer__lists .footer__listsElem .footer__listsElemLink .footer__listsElemImg {
  margin-right: 20px;
}

.footer .footer__content .footer__lists .footer__listsElem .footer__listsElemLink .footer__listsElemDiscr {
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

@media (max-width: 1200px) {
  .header {
    padding: 30px 30px 60px;
    display: flex;
    justify-content: space-between;
  }
  .mainContent {
    padding: 0 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mainContent .mainContent__content {
    margin: 0px 0 100px;
  }
  .mainContent .mainContent__content .mainContent__discr {
    margin-bottom: 43px;
  }
  .mainContent .mainContent__btn {
    display: block;
    width: max-content;
    margin: 0 auto;
  }
  .mainContent .mainContent__img {
    max-width: 569px;
    margin-left: auto;
  }
  .slider .slider__gallery .slider__images .slider__elem {
    flex: 0 0 50%;
  }
  .slider .slider__gallery .slider__images .slider__elem:not(:last-child) {
    margin-right: 0px;
  }
  
  @keyframes flowLeft {
    0% {
      margin-right: 87px;
    }
    50% {
      margin-right: 80px;
    }
    100% {
      margin-right: 90px;
    }
  }

  @keyframes flowRight {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: 17px;
    }
    100% {
      margin-left: 0px;
    }
  }
}

@media (max-width: 1000px) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
    padding: 67px 0 100px;
  }
  .about .about__img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: unset;
    margin-top: 79px;
  }
  .about .about__content {
    margin-top: 14.5px;
  }
  .about .about__content .about__contentHeading {
    max-width: 370px;
    margin-bottom: 23.5px;
  }
  .about .about__content .about__contentText {
    max-width: 430px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
  }
  .about .about__content .about__contentText:not(:last-child) {
    margin-bottom: 25px;
  }
  .help {
    padding: 82px 40px 100px;
  }
  .help .help__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 54px;
    margin: unset;
    max-width: unset;
  }
  .help .help__list .help__elem:nth-child(1) {
    grid-column: unset;
    justify-self: unset;
  }
  .help .help__list .help__elem:nth-child(2) {
    grid-column: unset;
    justify-self: unset;
    margin-left: 0px;
  }
  .help .help__list .help__elem:nth-child(3) {
    grid-column: unset;
    margin-left: 0px;
  }
  .help .help__list .help__elem:nth-child(4) {
    grid-column: unset;
    margin-left: 0px;
  }
  .help .help__list .help__elem:nth-child(5) {
    grid-column: unset;
    justify-self: unset;
  }
  .help .help__list .help__elem:nth-child(6) {
    grid-column: unset;
    justify-self: unset;
    margin-left: -0px;
  }
  .help .help__list .help__elem:nth-child(7) {
    grid-column: unset;
    justify-self: unset;
    margin-left: 0px;
  }
  .help .help__list .help__elem:nth-child(8) {
    grid-column: unset;
    margin-left: 0px;
  }
  .help .help__list .help__elem:nth-child(9) {
    grid-column: unset;
    justify-self: unset;
    margin-right: 0px;
  }
  .donation {
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation .donation__pet {
    margin: 60px 0 0 0;
  }
  .footer {
    flex-wrap: wrap;
    max-height: unset;
    justify-content: space-around;
    padding: 15px 40px 0px;
  }
  .footer .footer__content:nth-child(2) {
    margin-left: unset;
  }
  .footer .footer__bg {
    max-width: 300px;
    height: auto;
    margin-top: 64px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 30px 10px;
  }
  .mobileBtn {
    display: block;
  }
  .mobileBtn_active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    right: -320px;
    top: 0;
    z-index: 7;
    width: 320px;
    background-color: #292929;
    padding: 30px 10px;
    height: 100vh;
  }
  .nav .logo__mobile {
    display: block;
    margin-bottom: 161px;
  }
  .nav .nav__item {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    align-self: center;
    margin: unset;
  }
  .nav .nav__item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 40px;
  }
  .nav_active {
    display: flex;
    right: 0;
  }
  .slider .slider__gallery .slider__images .slider__elem {
    flex: 0 0 100%;
  }
  .help .help__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 490px) {
  .heading {
    font-size: 25px;
    text-align: center;
  }
  .mainContent {
    padding: 0 10px;
  }
  .mainContent .mainContent__content {
    margin: 30px 0 105px;
    text-align: center;
  }
  .mainContent .mainContent__content .mainContent__header {
    font-size: 25px;
    max-width: 230px;
    margin: 0 auto 42px;
    letter-spacing: .06em;
  }
  .mainContent .mainContent__content .mainContent__discr {
    margin-bottom: 42px;
  }
  .mainContent .mainContent__img {
    max-width: 260px;
  }

  .about {
    padding: 29px 25px;
  }

  .about .about__img {
    margin-top: 25px;
  }
  .about .about__content {
    margin-top: 14.5px;
  }

  .about .about__content .about__contentText {
    text-align: justify;
  }
  .pets {
    padding: 55px 10px;
  }
  .pets .pets__slider {
    margin-bottom: 116px;
  }
  .pets .pets__heading {
    margin: 0 auto  40px;
  }
  .slider {
    position: relative;
  }


  .slider .slider__control {
    position: absolute;
  }
  .slider .slider__controlLeft {
    left: 19.5%;
    bottom: -72px;
  }
  .slider .slider__controlRight {
    right: 19.5%;
    bottom: -72px;
  }
  .help {
    padding: 30px 15px;
  }
  .help .help__heading {
    margin-bottom: 40px;
  }
  .help .help__list {
    grid-gap: 30px;
  }
  .help .help__list .help__elem {
    font-size: 15px;
    line-height: 110%;
  }
  .help .help__list .help__elem .help__elemContainer .help__elemImg {
    margin-bottom: 9px;
    min-height: unset;
  }
  .donation {
    padding: 45px 20px 35px;
  }
  .donation .donation__pet {
    margin: 40px 0 0 0;
  }
  .donation .donation__discr {
    text-align: center;
  }
  .donation .donation__discr .donation__subheading {
    line-height: 160%;
    letter-spacing: .1px;
  }
  .donation .donation__discr .donation__cardLink {
    width: max-content;
    height: unset;
    padding: 10px 14px;
  }
  .donation .donation__discr .donation__cardLink .donation__cardNum {
    font-size: 15px;
    line-height: 130%;
  }
  .donation .donation__discr .donation__hint {
    text-align: justify;
  }
  .footer {
    padding: 13px 10px 0px;
  }
  .footer .footer__content {
    max-width: 295px;
    margin-top: 17px;
  }
  .footer .footer__content:nth-child(2) {
    margin-top: 39px;
  }
  .footer .footer__content:nth-child(2) .footer__heading {
    margin-bottom: 41px;
    padding: 0 2px;
  }
  .footer .footer__content:nth-child(2) .footer__lists .footer__listsElem {
    justify-content: flex-start;
  }
  .footer .footer__content:nth-child(2) .footer__lists .footer__listsElem:not(:last-child) {
    margin-bottom: 42px;
  }
  .footer .footer__content .footer__heading {
    font-size: 25px;
    text-align: center;
  }
  .footer .footer__content .footer__lists .footer__listsElem {
    justify-content: center;
  }
  .footer .footer__bg {
    max-width: 260px;
    margin-top: 42px;
  }
}
@media (max-height: 595px) {
  .nav .logo__mobile{
    margin-bottom: 55px;
  }
}